.navbar {
    background-color: #24273A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-img {
    display: flex;
    width: 5rem;
    height: auto;
    background-color: #24273A;
    padding-left: 2rem;
}

.navbar-list {
    display: flex;
    flex-direction: row;
}

.navbar-item {
    display: flex;
    padding: 1.5rem;
    color: #CAD3F5;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-item:hover {
    color: #F5A97F;
}