.Welcome {
    padding-left: clamp(2rem, 24vw, 29rem);
    padding-top: 6rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", sans-serif;
    color: #e4e9ff;
}

.Header {
    color: #e4e9ff;
    font-size: 2.8rem;
}

.Header-emphasis {
    color: #F5A97F;
}

.Summary {
    color: #CAD3F5;
    font-size: 1.3rem;
    line-height: 1.55;
}

.Header-emphasis-link {
    color: #F5A97F;
    
   display: inline-block;
  padding-bottom: 1px;

  background-image: repeating-linear-gradient(
    to right,
    #F5A97F 0 10px,
    transparent 10px 22px
  );
  background-repeat: repeat-x;
  background-size: 100% 3px;
  background-position: left bottom;
  transition: 0.3s ease;
}

.Header-emphasis-link:Hover {
    cursor: pointer;
    color: #24273A;
    background-color: #F5A97F;
}

.Socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: .35rem;
    color: #CAD3F5;
}

.Social {
    cursor: pointer;
    padding-left: .25rem;
    padding-right: .25rem;
    display: inline-flex;
    align-items: center;
    gap: .35rem;
}

.Social:hover {
    color: #F5A97F;
}

.Arrow {
    padding-left: .25rem;
    transition: transform 0.001s ease;
}

.Social:Hover .Arrow{
    padding-left: .5rem;
}

@media (max-width: 800px) {
    .Welcome {
        padding-top: 4rem;
    }

    .Header {
        font-size: 2.2rem;
    }

    .Summary {
        font-size: 1.05rem;
    }

    .Summary br {
        display: none;
    }
}
